

body {
  font-size: 16px;
  font-family: "PT-Sans-Regular"; }

.card {
  border: none;
  background: none;
  border-radius: 0; }
 

  .fh5co-home-banner .card-img-overlay {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black); } 
  
.contact-pop {
  margin-top: -300px; }
  .contact-pop .card-img-overlay {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -linear-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    border-radius: 15px 0 0 15px; }

  .contact-pop .row {
    max-width: 918px;
    margin: 0 auto; }
    
  .contact-pop img {
    border-radius: 15px 0 0 15px; }
  .contact-pop .content {
    padding: 45px 20px 20px 40px;
    height: 100%;
    background: #fff;
    border-radius: 0 15px 15px 0; }
    
    
    .contact-pop .content h4 {
      color: #978b91;
      font-size: 18px;
      }
    .contact-pop .content p {
      color: #584f53; }

    .contact-pop .content hr {
      background-color: #e90e65;
      width: 50px;
      height: 5px;
      border: none;
      margin-left: 0; }
      
    .contact-pop .content a {
      background-color: #e90e65;
      width: 158px;
      border-radius: 40px;
      color: #fefefe;
      padding: 10px 0;
      margin-top: 20px; }

    



.fh5co-recent-work {
  background: linear-gradient(#e90e65, white);
  padding: 100px 0; }
  @media (max-width: 767px) {         
    .fh5co-recent-work {
      padding-bottom: 0; } }

  .container-fluid {
    padding-left: 0;
    padding-right: 0; } } 



        @media (max-width: 768px) {
          .carousel-inner .carousel-item > div {
              display: none;
          }
          .carousel-inner .carousel-item > div:first-child {
              display: block;
          }
      }
      
    .al{
      text-align: center;
      color:darkslategray;
      font-family: Arial, Helvetica, sans-serif;
    }
    .b1{
      padding-left: 30%;
      padding-right: 30%;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: black;
      
    }
    .c1{
      padding-left: 47%;
      border-radius: 5px;
    }
   
    .p1{
      position: absolute;
      top: 1550px;
      left: 100px;
      text-align: left;
      color: black;
    }
    .container {
      position: relative;
      text-align: center;
      color: black;
    }
    
  
    .recent .card .card-img {
      border-radius: 20px; }

    .recent .card h5 {
      font-size: 20px;
      color: #fff;
      margin-bottom: 5px; }
     
    .recent .card.active, .recent .card:hover {
      transform: scale(1.05, 1.1);
      -webkit-transform: scale(1.05, 1.1);
      -ms-transform: scale(1.05, 1.1);
      -moz-transform: scale(1.05, 1.1);
      box-shadow: 0px 20px 32px 0px rgba(0, 0, 0, 0.25); }
      
      
  .recent .card-img-overlay {
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85)); }
  
  

.fh5co-portfolio {
  background-color: #f2d5d7;
  background-image: url(Images/camera.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 100px 0;
  margin-top: 0; }

  
    /* .fh5co-portfolio .card.active, .fh5co-portfolio .card:hover {
      transform: none;
      box-shadow: none; } */

  

  .fh5co-portfolio .bx {
    float: left;
    padding: 7px; }

      
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
    
        #browsers{
            background-color: cadetblue
        }
        .dropdown-menu {
            background: linear-gradient(#050008,#70949a);
        }
        .dropdown-menu a{
            color: aliceblue;
            text-align: center;
        }
        .dropdown-header{
       color:floralwhite;
            font-size: 18px;
            font-family: monospace;
            text-align: center
        }
        #dropdown1{
            background: linear-gradient(#d5c8b7,#f1b304);
            color:black
            
        }
        #dropdown1 a{
            color: darkslategray;
        }
        .dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* change this to change the size*/
  
}
        .fa-facebook-square {
  color: #3b5998;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}
    
  